<h1>Create a new post below!</h1>

<form id="newPost" name="newPost" method="POST" action="/posts/newPost">
    <div>
        <label for="name">Title: </label>
        <input type="text" name="posttitle" required>
    </div>

    <div>
        <label for="name">Post: </label>
        <input type="text" name="postbody" required>
    </div>

    <div>
        <button type="submit">Submit</button>
    </div>
</form>

