<div class="d-flex justify-content-center">
    <h1>Welcome! Please sign up Below.</h1>
</div>
<br>

<form id="signup" name="signup" method="POST" action="/users/signup">
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="form-outline">
                <input type="text" id="form3Example1" name="firstname" class="form-control" />
                <label class="form-label" for="name">First name</label>
            </div>
        </div>
        <div class="col-3">
            <div class="form-outline">
                <input type="text" id="form3Example2" name="lastname" class="form-control" />
                <label class="form-label" for="lastname">Last name</label>
            </div>
        </div>
    </div>
    <br>

    <!--Email, Username, & Password-->
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-outline">
                <input type="text" id="form3Example1" name="email" class="form-control" />
                <label class="form-label" for="email">Email</label>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-outline">
                <input type="text" id="form3Example1" name="username" class="form-control" />
                <label class="form-label" for="username">Username</label>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-4">
            <div class="form-outline">
                <input type="password" id="form3Example1" name="password" class="form-control" />
                <label class="form-label" for="password">Password</label>
            </div>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-2">
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
        </div>
    </div>
</form>