<h1>The End</h1>

<p>After a while, {{end.name}} met a beautiful fox named {{end.foxWife}}. They fell deeply in love and lived in {{end.housing}}. They lived there happily ever after. The {{end.storyPart}}.</p>

<a href="/beginning"><button>Back to start</button></a>
<a href="/middle"><button>Previous Page</button></a>