<h1> The Middle </h1>

<p>One day, {{middle.name}} decided to visit {{middle.place}}.
    So, he hopped on a {{middle.travelVehicle}} to get there.
    Once he got there, he decided to stay for at least {{middle.yearsToStay}} years.
</p>

<a href="/end"><button>Next Page</button></a>
<a href="/beginning"><button>Previous Page</button></a>
